@{ 
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your Contact Details.</p>
<p>9765355048</p>

<style>
        body {
            background-color: #006400; /* Dark green color */
            color: #FFFFFF; /* White text colo.footer {
        }
</style>
