@{
    ViewData["Title"] = "Login page";
}

<div class="text-center">
<h1>Login</h1><br>

<form method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
       
    </div><br>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
    </div><br>
    <button type="submit">Login</button>
</form><br>

<div>
    <p>Don't have an account? <a href="/Account/Register">SignUp</a></p>
</div>


</div>

<style>
        body {
            background-color: #006400; /* Dark green color */
            color: #FFFFFF; /* White text color for contrast */
        }
    </style>
